@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br />
    <div id="lampada" class="lampada" disabled>

    </div>
    <div id="rosca">

    </div>
    <div id="rosca2">

    </div>
    <br />
    <br />
    <button id="btnInterruptor" type="button" onclick="testar();">Ligar</button>
</div>
<style>
    .lampada {
        margin: auto;
        width: 100px;
        position:relative;
        z-index:25;
        height: 100px;
        background-color: #d5d5d5;
        border-radius: 50px;
    }
    .ligada {
        background-color: yellow;
    }
    #rosca {
        width: 50px;
        height: 70px;
        margin: auto;
        position: relative;
        z-index:2;
        margin-top: -35px;
        background-color: gray;
        border-radius: 20px;
    }
    #rosca2 {
        width: 20px;
        height: 50px;
        margin: auto;
        z-index: 2;
        margin-top: -45px;
        background-color: black;
        border-radius: 20px;
    }
 
</style>